@charset "utf-8";

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
*{font-family: 'SUITE-Regular',sans-serif;}
.navbar{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, 0);
}
p{
    color: rgb(66, 65, 65);
    font-size: 1.4em;
}
.navbar-brand{
    font-size: 2em;
    font-family: 'SBAggroB', Courier, monospace;
}
.navbar-toggle{
    background-color: rgba(0,0,0,0.1);
}
.navUl{margin-left: 300px;}
.navUl a{color: rgb(84, 82, 82);}
.navLi{
    font-weight: bold; 
    padding: 0 30px; 
    box-sizing: border-box;}

@media (max-width:1400px){
    .nav{
        margin-left:30px;
    } .navbar-right{
        margin-left: 0;
    } .navLi{
        padding: 0 5px;
    }
}
@media (max-width:767px){
    .nav{
        margin-left:0px;
    }
}

.dropdown-menu li{
    text-align: center;
}
.section-1-text-wrap{
    padding: 50px 2%;
}
.section-1-text-wrap p{
    font-size: 1.5em;
}
.section-1-text-wrap h3{
    font-weight: 900;
    font-size: 3em;
}
.section-1-article-wrap{
    margin-bottom: 50px;
}
.section-1-article-wrap p{
    padding: 4% 3%; box-sizing: border-box;
}
.section-1-article-wrap img{
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
}
@media (max-width:960px) {
    .section-1-article-wrap img{width:92%;}
    .section-1-article-wrap p{font-size: 1.2em;}
    .section-1-text-wrap p{font-size: 1.5em;}
    .section-1-text-wrap h3{font-size: 2.4em;}
}
.section-2-text-wrap{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
.section-2-text-wrap p{
    font-size: 2.5em;
}
.section-2-text-wrap h3{
    font-weight: 900;
    font-size: 2.2em;
}